<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          dense
          flat
          icon="menu"
          round
        />

        <q-toolbar-title>
          {{this.$route.name}}
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      bordered
      content-class="bg-grey-2"
      show-if-above
      v-model="leftDrawerOpen"
    >
      <q-list>
        <q-item-label header>Essential Links</q-item-label>
        <q-item clickable href="https://quasar.dev" tag="a" target="_blank">
          <q-item-section avatar>
            <q-icon name="school"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Docs</q-item-label>
            <q-item-label caption>quasar.dev</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable href="https://github.quasar.dev" tag="a" target="_blank">
          <q-item-section avatar>
            <q-icon name="code"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Github</q-item-label>
            <q-item-label caption>github.com/quasarframework</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable href="https://chat.quasar.dev" tag="a" target="_blank">
          <q-item-section avatar>
            <q-icon name="chat"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Discord Chat Channel</q-item-label>
            <q-item-label caption>chat.quasar.dev</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable href="https://forum.quasar.dev" tag="a" target="_blank">
          <q-item-section avatar>
            <q-icon name="record_voice_over"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Forum</q-item-label>
            <q-item-label caption>forum.quasar.dev</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable href="https://twitter.quasar.dev" tag="a" target="_blank">
          <q-item-section avatar>
            <q-icon name="rss_feed"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Twitter</q-item-label>
            <q-item-label caption>@quasarframework</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable href="https://facebook.quasar.dev" tag="a" target="_blank">
          <q-item-section avatar>
            <q-icon name="public"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Facebook</q-item-label>
            <q-item-label caption>@QuasarFramework</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
  import Vue from "vue";

  export default Vue.extend({
    name: "MyLayout",

    data() {
      return {
        leftDrawerOpen: false
      };
    }
  });
</script>
